body {
    background: #203748;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

table {
    -webkit-font-smoothing: antialiased;
    font-size: 115%;
    width: 100%;
}
table th {
    background-color: #70C469;
    font-weight: normal;
    color: #FFFFFF;
    padding: 20px;
    text-align: left;
}
table td {
    background-color: #EEEEEE;
    padding: 20px;
    color: #6F6F6F;
}

a {
    color: #4682B4;
}

#header a
{
    color: #70C469;
    text-decoration: none;
}

#leaderboard_status
{
    padding-bottom: 10px;
}

.tblPlayerName
{
    float: left;
}

.regionSelector
{
    padding-bottom: 10px;
}

.regionSelector a
{
    color: #FFFFFF;
    padding-right: 20px;
}

.regionSelector a.unselected
{
    font-size: 125%;
    text-decoration: none;
}

.regionSelector a.selected
{
    font-size: 200%;
    text-decoration: underline;
}

.tblCountry
{
    float: right;
}

.graph-svg {
    border: 1px #000000;
    background-color: #ECECEC;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}